<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Children Need Water to Grow</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="assets/css/styles.css" media="screen">

  </head>

  <body>
    <div class="container">

    </div> 
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="#" id="logo">Home</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a href=".html">Water Availbality</a></li>
                  <li><a href=".html">Mortality Rate</a></li>
                  <li><a href=".html">Bubble moving graph</a></li>
                  </ul>
              </li>
              <li><a href="comparison.html">Comparison</a></li>
              <li><a href="data.html">Data</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
    <div class = "container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
          <h1>Children Need Water to Grow</h1>
          <img src = "https://www.bing.com/th/id/OGC.5e693657feb24f8843988745cf00e1e8?pid=1.7&rurl=https%3a%2f%2fgiffiles.alphacoders.com%2f518%2f51815.gif&ehk=V77Ak7KAaf7D0FUniZZGUFc6qFB3nqC0HO%2bNHf3zVpI%3d" class = "img-fluid" alt = "water">
    </div>
    <!-- Start of container -->
        <div class="container">
      <section class="row">
        <div class="col-md-12">
          <article class="description-content">
            <h1 class="description-header">Hard Facts:</h1>
            <hr class="description-hr"/>
            <p>"The leading causes of death among children under five in 2017 were preterm birth complications, acute respiratory infections, intrapartum-related complications, congenital anomalies and diarrhea. Neonatal deaths accounted for 47% of under-five deaths in 2017."</p>
            <p>What illness?</p>
            <p>What bacteria?/p>
          </article>
        </div>

        <div class="container">
          <section class="row">
            <div class="col-md-12">
              <section id="imageNav-area">
                <div class="imageNav-content">
                  <h2 class="imageNav-header">Carosel links</h2>
                  <hr />
                    <div id="images">
                      <a href=".html"><img src=".png" alt="Description" class="imageNav-photo"></a>
                      <a href=".html"><img src=".png" alt="Description" class="imageNav-photo"></a>
                      <a href=".html"><img src=".png" alt="Description" class="imageNav-photo"></a>
                    </div>
                </div>
              </section>
            <!-- End of the Visualizations imageNav Area -->

            </div>
          </section>
        </div>
    <!-- End of container -->

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy; Copyright Damini & Kylie 2021
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>
